Temp/UnityLockfile
Assets/Resources/Prefabs.meta
Assets/Resources/Sprites.meta
Assets/Scripts/Behavior/FadeOutText.cs
Assets/Scripts/Behavior/FadeOutText.cs.meta
Assets/Sprites/NewPlatformerArtwork/Enemies.meta
Assets/Sprites/NewPlatformerArtwork/HUD.meta
Assets/Sprites/NewPlatformerArtwork/Player.meta
Assets/Sprites/RetroPlatformerArtwork/Thumbs.db.meta
Assets/Sprites/SpaceShooter/Spritesheet.meta
Assets/Sprites/TopDownTankArtwork/Spritesheet.meta
Assets/Sprites/TopDownTankArtwork/TopDownTiles.meta
Assets/UnityVS.meta
Assets/UnityVS/Editor.meta
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
Library/UnityAssemblies/UnityEditor.iOS.Extensions.Xcode.xml
Library/UnityAssemblies/UnityEditor.xml
Library/UnityAssemblies/UnityEngine.UI.xml
Library/UnityAssemblies/UnityEngine.xml
Library/UnityAssemblies/version.txt
Library/metadata/02/02fe78e962405814a83b8ba6c9471d32
Library/metadata/2e/2ef4926eac6ca5d4493ad45d56172cb9
Library/metadata/2e/2ef4926eac6ca5d4493ad45d56172cb9.info
Library/metadata/38/38d405c119fcc7c4e83d4a478a40ff2f
Library/metadata/38/38d405c119fcc7c4e83d4a478a40ff2f.info
Library/metadata/4a/4ad02dc83da735c4e8d945332b9202f6
Library/metadata/4a/4ad02dc83da735c4e8d945332b9202f6.info
Library/metadata/66/66caa95fe3fc33447be56754ae3a1fdc
Library/metadata/66/66caa95fe3fc33447be56754ae3a1fdc.info
Library/metadata/6e/6e71a3e2fb5854e43823a9da25b68e21
Library/metadata/6e/6e71a3e2fb5854e43823a9da25b68e21.info
Library/metadata/70/7087aca3da98ce54292ada9c3b3834e8
Library/metadata/70/7087aca3da98ce54292ada9c3b3834e8.info
Library/metadata/7e/7e8048a872b9c994aa54203b03980d60
Library/metadata/7e/7e8048a872b9c994aa54203b03980d60.info
Library/metadata/de/de9108e13b01ae040b8fa77fa17cef3e
Library/metadata/de/de9108e13b01ae040b8fa77fa17cef3e.info
UnityVS.Jump-Run.CSharp.csproj
UnityVS.Jump-Run.sln
obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
Library/